<h1>Preguntas</h1>

<div class="container">
    <!-- Realizar pregunta -->
    <div class="form-control">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Titulo</span>
            </div>
            <input [(ngModel)]="preg.titulo" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Descripcion</span>
            </div>
            <textarea [(ngModel)]="preg.desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div><br>
        <button type="button" class="btn btn-outline-default " (click)="publicarPregunta()">Comentar</button>
    </div><br/><br/><br/>
    <!-- /Realizar pregunta -->

    <div *ngFor="let pregunta of preguntas">
        <div  class="alert alert-primary" role="alert">
            <a href="#" class="alert-link">{{ pregunta.titulo }}</a><div class="float-right">-{{pregunta.autor}}-</div><br>
            <hr/>
            {{pregunta.descripcion}}
        </div>
        <ng-container *ngFor="let comentario of comentarios">
            <div *ngIf=" pregunta.titulo == comentario.pregunta" class="alert alert-secondary" role="alert">
                {{comentario.comentario}}
            </div>
        </ng-container>
        <div class="well">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comenta una respuesta</label>
                <textarea [(ngModel)]="com.comentario" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
                <button type="button" class="btn btn-outline-success " (click)="publicarComentario( pregunta.titulo )">Comentar</button>
            </div>
        </div>
        <hr/>
    </div>
</div>



